@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}
/* Estilização da barra de rolagem */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Largura da barra */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Fundo da trilha */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* Cor da barra de rolagem */
  border-radius: 8px; /* Bordas arredondadas */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Cor da barra ao passar o mouse */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
